body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f9f6;
    color: #333;
}

/* Header */
header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 25px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

/* Headings */
h2 {
    color: #2e7d32;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #aaa;
    text-align: center;
}

th {
    background-color: #2e7d32;
    color: white;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
}

button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1b5e20;
}

/* Footer */
footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px;
}
table img {
    border-radius: 8px;
}
